html, body {
    min-width: 320px;
}

.header {
    width: 100%;
    min-width: 320px;
    height: 76px;
}

.header__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100%;
}

.header__nav {
    margin-left: 51px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    font-size: 14.5px;
    list-style: none;
}

.header__nav-item:nth-child(n+2) {
    margin-left: 30px;
}

.header__nav-item a {
    color: #333333;
    text-decoration: none;
}

.header__nav-item a:hover {
    text-decoration: underline;
}

.header__nav-item_submenu {
    position: relative;
}

.header__nav-item-submenu-list {
    position: absolute;
    width: 250px;
}

.header__nav-item-submenu-item {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 5px;
    height: 30px;
}

.header__nav-item-submenu-item:nth-child(n+2) {
    border-top: none;
}

.header__nav-item-submenu-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__nav-item_submenu > a::after {
    content: url(../images/nav-arrow-down.svg);
    display: inline-block;
    margin-left: 10px;
}

.header__nav-mobile {
    display: none;
}

.header__button {
    background-color: #E3F5F5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    width: 230px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #03B2A5;
    transition: font-size 0.5s;
}

.header__button:hover {
    font-size: 17px;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .header__container {
        width: 93.75%;
    }
}

@media screen and (max-width: 1120px) {
    .header__nav {
        margin-left: 32px;
    }

    .header__button {
        display: none;
    }
}

@media screen and (max-width: 870px) {
    .header__container {
        justify-content: space-between;
    }

    .header__nav {
        display: none;
    }

    .header__nav-mobile {
        display: block;
        position: relative;
    }

    .header__nav-mobile-button {
        padding: 0;
        border: none;
        width: 18px;
        height: 14px;
        cursor: pointer;
    }

    .header__nav-mobile-list {
        position: absolute;
        top: 0;
        right: 19px;
        width: 150px;
        z-index: 1;
    }

    .header__nav-mobile-item {
        border: 1px solid #03B2A5;
        background-color: #FFFFFF;
        height: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    .header__nav-mobile-item:nth-child(n+2) {
        border-top: none;
    }

    .header__nav-mobile-item a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #333333;
        text-decoration: none;
    }

    .header__nav-mobile-item a:hover {
        text-decoration: underline;
    }

    .header__nav-mobile-item_submenu {
        position: relative;
    }
    
    .header__nav-mobile-item-submenu-list {
        position: absolute;
        width: 115px;
        top: -1px;
        left: -115px;
    }
    
    .header__nav-mobile-item-submenu-item {
        border: 1px solid #000000;
        background-color: #FFFFFF;
        padding: 5px;
        height: 20px;
    }
    
    .header__nav-mobile-item-submenu-item:nth-child(n+2) {
        border-top: none;
    }
    
    .header__nav-mobile-item-submenu-item a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .header__nav-mobile-item_submenu > a::before {
        content: url(../images/nav-arrow-down.svg);
        display: inline-block;
        margin-right: 10px;
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 320px) {
    .header {
        height: 56px;
    }
}

.main {
    width: 100%;
    min-width: 320px;
    overflow: hidden;
}

.main-header {
    width: 100%;
}

.main-header__container {
    margin: 0 auto;
    padding-top: 19px;
    width: 1200px;
}

.main-header__breadcrumps {
    margin-left: 6px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12.5px;
}

.main-header__breadcrumps li + li::before {
    content: url(../images/nav-arrow-down.svg);
    display: inline-block;
    margin: 0 6px;
    transform: rotate(-90deg);
}

.main-header__breadcrumps a {
    color: #333333;
    text-decoration: none;
}

.main-header__breadcrumps a:hover {
    text-decoration: underline;
}

.main-header__title {
    margin-top: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.main-header__filters {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
}

.main-header__filters-item button {
    background-color: transparent;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    padding: 0 8px;
    height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.main-header__filters-item_active button {
    border: 2px solid #16C8BB;
}

.main-header__filters-item button:hover {
    border: 2px solid #16C8BB;
}

@media screen and (max-width: 1280px) {
    .main-header__container {
        width: 93.75%;
    }
}

@media screen and (max-width: 1024px) {
    .main-header__title {
        margin-top: 46px;
    }
}

@media screen and (max-width: 700px) {
    .main-header__container {
        overflow: hidden;
    }

    .main-header__filters {
        flex-wrap: nowrap;
        width: 2000px;
        position: relative;
        left: -110px;
    }
}

@media screen and (max-width: 414px) {
    .main-header__title {
        margin-top: 34px;
        margin-left: 8px;
        font-size: 32px;
    }

    .main-header__filters {
        margin-top: 28px;
        left: -124px;
    }
}

@media screen and (max-width: 320px) {
    .main-header__title {
        margin-top: 37px;
        margin-left: 4px;
        font-size: 25px;
    }
}

.big-articles {
    padding-top: 25px;
    width: 100%;
}

.big-articles__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

.main-background {
    position: absolute;
    top: 117px;
    left: -120px;
    background-image: url(../images/background.png);
    width: 1440px;
    height: 672px;
}

.big-articles__item {
    border: 1px solid #DEDEDE;
    border-radius: 20px;
    position: relative;
    background-color: #FFFFFF;
    width: 49%;
    height: 499px;
    cursor: pointer;
}

.big-articles__item-label {
    position: absolute;
    top: 8px;
    left: 10px;
}

.big-articles__item-label li {
    display: flex;
}

.big-articles__item-label li:nth-child(n+2) {
    margin-top: 8px;
}

.big-articles__item-label li > div {
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    padding: 0 9px;
    height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.big-articles__item-image {
    width: 100%;
    height: 52%;
    object-fit: cover;
}

.big-articles__item-title {
    margin: 18px auto 0 auto;
    width: 94%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: #333333;
}

.big-articles__item-author {
    margin: 8px auto 0 auto;
    width: 94%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.5px;
    font-weight: 400;
    color: #494949;
}

.big-articles__item-description {
    margin: 12px auto 0 auto;
    width: 94%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 1.3;
    color: #333333;
}

.big-articles__item-pubdate {
    position: absolute;
    left: 3%;
    bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.5px;
    font-weight: 400;
    color: #868686;
}

@media screen and (max-width: 1280px) {
    .big-articles__container {
        width: 93.75%;
    }

    .main-background {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .big-articles__container {
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 3vw;
    }

    .big-articles__item {
        width: 100%;
        height: 599px;
    }

    .big-articles__item-image {
        height: 67%;
    }
}

@media screen and (max-width: 414px) {
    .big-articles__item {
        width: 97%;
        height: 462px;
    }

    .big-articles__item-image {
        height: 43%;
    }
}

@media screen and (max-width: 320px) {
    .big-articles__container {
        padding-top: 18px;
        grid-gap: 4vw;
    }

    .big-articles__item {
        height: 484px;
    }

    .big-articles__item-title {
        margin-top: 9px;
    }

    .big-articles__item-title, .big-articles__item-author, .big-articles__item-description {
        width: 88%;
    }

    .big-articles__item-pubdate {
        left: 6%;
    }
}

.small-articles {
    padding-top: 22px;
    width: 100%;
}

.small-articles__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 2%;
    margin: 0 auto;
    width: 1200px;
}

.small-articles__item {
    border: 1px solid #DEDEDE;
    border-radius: 20px;
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 24px;
    width: 31.7%;
    height: 475px;
    cursor: pointer;
    overflow: hidden;
}

.small-articles__item-label {
    position: absolute;
    top: 6px;
    left: 6px;
}

.small-articles__item-label li {
    display: flex;
}

.small-articles__item-label li:nth-child(n+2) {
    margin-top: 8px;
}

.small-articles__item-label li > div {
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    padding: 0 9px;
    height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.small-articles__item-image {
    width: 100%;
    height: 18vw;
    max-height: 55%;
    object-fit: cover;
}

.small-articles__item-title {
    margin: 12px auto 0 auto;
    width: 94%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: #333333;
}

.small-articles__item-author {
    margin: 12px auto 0 auto;
    width: 94%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.5px;
    font-weight: 400;
    color: #494949;
}

.small-articles__item-description {
    margin: 12px auto 0 auto;
    width: 94%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 1.3;
    color: #333333;
}

.small-articles__item-pubdate {
    position: absolute;
    left: 3%;
    bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.5px;
    font-weight: 400;
    color: #868686;
}

@media screen and (max-width: 1280px) {
    .small-articles__container {
        width: 93.75%;
    }

    .small-articles__item-label li:nth-child(n+2) {
        margin-top: 8px;
    }
    
    .small-articles__item-label li > div {
        height: 2.53vw;
        font-size: 1.09vw;
    }
}

@media screen and (max-width: 1024px) {
    .small-articles__item {
        height: 452px;
    }

    .small-articles__item-image {
        height: 20vw;
    }
}

@media screen and (max-width: 768px) {
    .small-articles {
        padding-top: 17px;
    }

    .small-articles__item {
        width: 48.5%;
        height: 441px;
    }

    .small-articles__item-label li > div {
        height: 4.2vw;
        font-size: 1.8vw;
    }

    .small-articles__item-image {
        height: 27vw;
    }
}

@media screen and (max-width: 423px) {
    .small-articles__item {
        width: 95%;
        height: 460px;
    }

    .small-articles__item-label li > div {
        height: 11vw;
        font-size: 4.5vw;
    }

    .small-articles__item-image {
        height: 50vw;
    }
}

@media screen and (max-width: 320px) {
    .small-articles__item {
        height: 476px;
    }

    .small-articles__item-image {
        height: 50vw;
    }

    .small-articles__item-image {
        height: 200px;
    }

    .small-articles__item-title, .small-articles__item-author, .small-articles__item-description {
        width: 88%;
    }

    .small-articles__item-pubdate {
        left: 6%;
    }
}

.more-articles-button {
    display: block;
    border: none;
    border-radius: 4px;
    background-color: #35B3A9;
    margin: 28px auto 0 auto;
    width: 182px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .more-articles-button {
        margin-top: 8px;
    }
}

.footer {
    background-color: #2963A3;
    margin-top: 96px;
    width: 100%;
    min-width: 320px;
    height: 302px;
}

.footer__container {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}

.footer__topside {
    display: flex;
    padding-top: 45px;
    width: 100%;
    height: 204px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    width: 309px;
}

.footer__nav-item:nth-child(n+2) {
    margin-top: 24px;
}

.footer__nav-item a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__nav-item a:hover {
    text-decoration: underline;
}

.footer__subscribe {
    margin-top: -4px;
    margin-left: 98px;
    width: 458px;
}

.footer__subscribe-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__subscribe-input {
    border-radius: 4px;
    background-color: #FFFFFF;
    width: 385px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.footer__subscribe-input input {
    border: none;
    border-radius: 4px 0 0 4px;
    display: block;
    padding: 0 17px;
    width: 314px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.footer__subscribe-input input::placeholder {
    color: #9D9D9D;
}

.footer__subscribe-input button {
    border: none;
    border-radius: 4px;
    background-color: #16C8BB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 50px;
    cursor: pointer;
}

.footer__subscribe-accept {
    margin-top: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.5px;
    font-weight: 400;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__contacts {
    margin-top: -6px;
    margin-left: 53px;
    width: 223px;
}

.footer__contacts-main {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.footer__contacts-main span {
    margin-top: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22.5px;
    font-weight: 700;
    color: #FFFFFF;
}

.footer__contacts-socials {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    width: 175px;
}

.footer__downside {
    display: flex;
    align-items: center;
    width: 100%;
    height: 53px;
}

.footer__information {
    display: flex;
}

.footer__information li, .footer__information a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__information li:nth-child(n + 2) {
    margin-left: 55px;
}

.footer__information a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1280px) {
    .footer {
        height: 0;
    }

    .footer__container {
        display: none;
    }
}

/* Страница Article */

.content-article {
    outline: solid 1px black;
    width: 100%;
    min-width: 320px;
}

.content-article__container {
    outline: solid 1px black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.article-content {
    outline: 1px solid black;
    padding-top: 19px;
    width: 57.5%;
}

.article-content__title {
    margin-top: 57px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    color: #333333;
}

.article-content__author {
    margin-top: 21px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #494949;
}

.article-content__pubdate::before {
    content: '\00B7';
    margin: 0 9px 0 4px;
}

.article-content__title-image {
    margin-top: 27px;
    width: 100%;
}

.article-content__h2-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}

.article-content__h3-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.article-content__h3-title_table-of-contents {
    margin-top: 26px;
}

.article-content__table-of-contents {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.article-content__table-of-contents ul {
    margin-left: 32px;
}

.article-content__table-of-contents li {
    margin-top: 7px;
}

.article-content__table-of-contents > li:first-child {
    margin-top: 0;
}

.article-content__table-of-contents a {
    color: #333333;
}

.article-content__h2-title_chapter-1 {
    margin-top: 27px;
}

.article-content__text {
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #333333;
}

.article-content__quote {
    background-color: #F3F7FE;
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 39px;
    padding: 35px 24px 22px 24px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}

.article-content__quote figcaption {
    margin-top: 8px;
    font-style: normal;
    font-weight: 700;
}

.article-content__h2-title_chapter-2 {
    margin-top: 29px;
}

.article-content__listing-in-text {
    margin-top: 20px;
    margin-left: 23px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #333333;
    list-style-image: url(../images/article-listing-bullet.svg);
}

.article-content__listing-in-text li {
    padding-left: 9px;
}

.article-content__listing-in-text li:nth-child(n+2) {
    margin-top: 17px;
}

.article-content__image-1 {
    margin-top: 23px;
    width: 100%;
}

.article-content__image-1 img {
    width: 100%;
}

.article-content__image-1 figcaption {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    font-weight: 400;
    color: #868686;
}

.article-content__centered-text {
    outline: 1px solid black;
    background-image: url(../images/article-centered-text-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 27px;
    padding: 26px 95px 47px 95px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}

.article-content__image-left-for-text {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    grid-gap: 24px;
}

.article-content__image-left-for-text img {
    display: block;
}

.article-content__image-left-for-text p {
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #333333;
}

.article-content__exersice {
    border-radius: 16px;
    margin-top: 29px;
    padding: 25px;
}

.article-content__text_exersice {
    margin-top: 14px;
}

.article-content__exersice_1 {
    background-color: #FEFAEC;
}

.article-content__h2-title_chapter-3 {
    margin-top: 33px;
}

.article-content__listing-in-text_chapter-3 {
    padding-right: 80px;
}

.article-content__image-left-for-text_chapter-3 {
    margin-top: 22px;
}

.article-content__exersice_2 {
    background-color: #FFF3EB;
}

.article-content__two-images {
    outline: 1px solid black;
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.article-content__two-images-item {
    outline: 1px solid black;
    width: 48%;
}

.article-content__two-images-item img {
    width: 100%;
}

.article-content__text_two-images {
    margin-top: 22px;
    line-height: 24px;
}

.article-content__lightning-delimiter {
    display: flex;
    justify-content: center;
    width: 100%;
}

.article-content__lightning-delimiter_chapter-3 {
    margin-top: 21px;
}

.article-content__exersice_3 {
    background-color: #03b2a51a;
}

.article-content__labels {
    outline: 1px solid black;
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #2963A3;
}

.article-content__labels li::after {
    content: '\00B7';
    margin: 0 0px 0 9px;
}

.article-content__labels li:last-child::after {
    content: none;
}

.additional-info {
    outline: 1px solid black;
    padding-top: 88px;
    width: 23.5%;
}

.additional-info__window {
    outline: 1px solid black;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 24px 0;
    width: 100%;
    text-align: center;
}

.additional-info__window_1 {
    background-color: #E6F0FD;
}

.additional-info__window_1 h3 {
    margin-top: 24px;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #333333;
}

.additional-info__window_1 p {
    margin-top: 10px;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.additional-info__window-button {
    border: none;
    border-radius: 4px;
    background-color: #35B3A9;
    margin-top: 25px;
    width: 234px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.additional-info__window_2 {
    border: 1px solid #DEDEDE;
    position: relative;
    margin-top: 24px;
    padding-bottom: 34px;
}

.additional-info__window_2 ul:first-child {
    position: absolute;
    top: 15px;
    left: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
}

.additional-info__window_2 ul:first-child li {
    display: flex;
}

.additional-info__window_2 ul:first-child div {
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #F3F4F8B2;
}

.additional-info__window_2 ul:first-child li:nth-child(n+2) {
    margin-top: 6px;
}

.additional-info__window_2 ul:first-child li:nth-child(1) div::before {
    content: url(../images/aside-window-2-icon-1.svg);
    margin-right: 4px;
}

.additional-info__window_2 ul:first-child li:nth-child(2) div::before {
    content: url(../images/aside-window-2-icon-2.svg);
    margin-right: 4px;
}

.additional-info__window_2 img {
    border-radius: 50%;
}

.additional-info__window_2 h3 {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.additional-info__window_2 span {
    display: inline-block;
    margin-top: 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.additional-info__window_2 p {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.5px;
    font-weight: 500;
    color: #A2A7B1;
}

.additional-info__window_2 h4 {
    border-top: 2px solid #DEDEDE;
    margin: 38px auto 0 auto;
    width: 89.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    text-align: left;
}

.additional-info__window_2-list {
    margin: 13px auto 0 auto;
    width: 76.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-align: left;
    list-style-image: url(../images/article-listing-bullet.svg);
}

.additional-info__window_2-list li:nth-child(n+2) {
    margin-top: 13px;
}

.additional-info__window-button_window-2 {
    margin-top: 26px;
    width: 249px;
}

.additional-info__window_3 {
    background-image: url(../images/aside-window-3.png);
    margin-top: 29px;
    width: 100%;
    height: 292px;
}

@media screen and (max-width: 1280px) {
    .content-article__container {
        width: 93.75%;
    }
}

.feedback {
    padding-top: 49px;
    width: 100%;
    min-width: 320px;
}

.feedback__container {
    border-top: 2px solid #DEDEDE;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

.feedback__content-wrapper {
    outline: 1px solid black;
    margin-top: 20px;
    width: 43%;
}

.feedback__content-wrapper_leftside {
    box-sizing: border-box;
    padding-right: 165px;
}

.article-content__title_feedback {
    margin-top: 52px;
}

.article-content__text_feedback {
    font-size: 18px;
    line-height: 26px;
}

.feedback__button {
    border: none;
    border-radius: 4px;
    background-color: #16C8BB;
    margin-top: 32px;
    width: 238px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.feedback__content-wrapper_rightside {
    box-sizing: border-box;
    padding-top: 51px;
    padding-left: 4px;
}

.footer-article {
    outline: solid 1px black;
    background-image: url(../images/background.png);
    margin-top: 22px;
    width: 100%;
    height: 83px;
}